h1, h2, h3, h4, h5 {
    font-family: 'Uncut';
    font-weight: 300;
    font-style: normal;
}
h1.accent, h2.accent, h3.accent, h4.accent, h5.accent, span.accent, a.accent, text.accent {
    font-family: 'Migra Italic';
    font-weight: 300;
    font-style: italic;
}
p, li, span, div, a, button, td, th, input {
    font-family: 'Uncut';
    font-weight: 300;
    font-style: normal;
}
a {
    color: inherit;
    text-decoration: none;
    margin: 0;
}

/* Style Classes */
.p {
    color: var(--grey);
}
.extended-dash {
    letter-spacing: -3px;
}
